<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springdemo.mapper.StudentMapper">
    <!--    因为我已经在配置文件里面指定了  type-aliases-package: com.example.springdemo.entity-->
    <!--    所以这里的resultType直接写Admin就行了，不用写完整路径-->
    <insert id="addStudent" parameterType="Student">
        INSERT INTO students (name, age, grade, clazz)
        VALUES (#{name}, #{age}, #{grade}, #{clazz})
    </insert>

    <delete id="deleteStudent" parameterType="java.lang.Integer">
        DELETE FROM students WHERE id = #{id}
    </delete>

    <!-- 在你的mapper.xml文件中添加以下语句 -->
    <update id="updateStudent" parameterType="Student">
        UPDATE students
        SET name = #{name}, age = #{age}, grade = #{grade}, clazz = #{clazz}
        WHERE id = #{id}
    </update>


    <select id="getAllStudents" resultType="Student">
        SELECT * FROM students
    </select>
</mapper>
